.header
  .card-deck
    margin-top: 50px
    flex-direction: column
    .card
      text-align: center
      color: $gray-dark
      transition: 100ms
      padding-bottom: 10px
      &:hover
        cursor: pointer
        .card-header
          background-color: $gray-lighter
    .card-header
      font-weight: bold
    .card-title
      font-size: 24px
      margin-bottom: 20px
      text-indent: 10px
    .active-card
      .card-header
        background-color: $brand-secondary
      &:hover
        .card-header
          background-color: $brand-secondary
  +breakpoint(desktop)
    .card-deck
      flex-direction: row

.card-body
  flex: 1
  +breakpoint(tablet)
    flex: 1 1 auto