.header
  width: 100%
  text-align: center
  +breakpoint(desktop)
    margin-bottom: 110px
    text-align: left
    .header__temperature, .header__city
      text-indent: 30px

.header__card
  height: 400px
  display: flex
  background: url("../images/clear.jpg")
  background-position: left center

.header__temperature
  font-size: 50px