*
  margin: 0
  padding: 0

.container
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  padding:
    top: 50px
    bottom: 50px
  +breakpoint(desktop)
    min-height: 100vh


main
  width: 100%

.card-icon
  max-height: 70px
  max-width: 70px
  margin: 0 auto 10px